---
###############################
##### vCenter Information #####
###############################

vcenter_hostname: ""
vcenter_password: ""
vcenter_datacenter: "homelab"
vcenter_validate_certs: false
vcenter_username: "administrator@vsphere.local"
timezone: "Africa/Algiers"

##### Hosts #####
esxi_host: ""

####################
##### Hardware #####
####################

##### Datastore #####
vm_disk_datastore: ""

linux_disk_size: 20
win_disk_size: 100

#### NIC #####
vm_hw_scsi: "paravirtual"

##### State #####
vm_state: "poweredon"
#vm_state: "powereddown"

#######################
###### Networking #####
#######################

vm_net_name: "VLAN-20"
vm_net_type: "vmxnet3"
netmask: "255.255.255.0"
gateway: "10.10.20.1"
dns1: "10.10.20.1"
dns2: "1.1.1.1"
vm_folder: "/"

