[defaults]
host_key_checking = False
inventory = inventory/hosts.yml
remote_user = ansible
private_key_file = /home/dragon/.ssh/ansible_id_ed25519
roles_path = roles

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no
