[haproxy]
10.10.20.100

[swarm_managers]
10.10.20.131
10.10.20.132
10.10.20.133

[swarm_workers]
10.10.20.141
10.10.20.142

[all:vars]
ansible_connection=ssh
ansible_user=ansible
ansible_ssh_private_key_file=/home/dragon/.ssh/ansible_id_ed25519
