[defaults]
inventory = inventory.ini
private_key_file = /home/dragon/.ssh/ansible_id_ed25519
host_key_checking = False
roles_path = roles/
python_interpreter = /usr/bin/python3
remote_user = ansible

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False
