---
# Proxmox API Connection
proxmox_host: "10.10.10.101"
proxmox_node: "prx2"
proxmox_api_user: "root@pam"
proxmox_api_password: "IXII123!"
proxmox_storage: "vm-nvme1"

# Linux VM User (injected via Cloud-Init and managed_users role)
linux_user: "dragon"
linux_user_password: "changeme"
linux_ssh_pubkey: "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAID/pRNjhwdzA8X6Nk7KH/b4G5qHyHCCaEk0yKPO3+oFF jumper@dragon.local"

# VM Defaults
disk_size_gb: 20
